<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<title>Cadastro de Remedios</title>
</head>
<body>
	<div class="jumbotron">
		<div class="form-group">
			<h3 >Cadastro de Remedios</h3>
		</div>
		
		<div class="form-group">
			<h3 th:text="${mensagem}"></h3 >
		</div>
		
		<form action="#" th:action="@{/remedios/salvar}" th:object="${remedio}"
		 method="post" class="form-horizontal">
			<div class="form-group">
				<label for="id" class="col-sm-4 control-label">Id:</label>
				<div class="col-sm-5">
				<input type="number" th:field="*{id}" id="id" class="form-control disabled"/>
				</div>
			</div>
			<div class="form-group">
				<label for="nomeRemedio" class="col-sm-4 control-label">Nome do Remedio:</label>
				<div class="col-sm-5">
				<input type="text" th:field="*{nomeRemedio}" id="nomeRemedio" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label for="quantidade" class="col-sm-4 control-label">Qtde:</label>
				<div class="col-sm-5">
				<input type="number"th:field="*{quantidade}" id="quantidade" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label for="vencimento" class="col-sm-4 control-label">Validade:</label>
				<div class="col-sm-5">
				<input type="text" th:field="*{vencimento} "id="vencimento" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label for="bulaOnline" class="col-sm-4 control-label">Bula Online:</label>
				<div class="col-sm-5">
				<input type="text" th:field="*{bulaOnline}" id="bulaOnline" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-5 col-sm-10">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</div>
		</form>
	</div >
</body>
</html>